.item {
    padding: 0;
    margin: 0;
}

.link {
    display: flex;
    padding: var(--menu-item-block-padding) var(--menu-item-inline-end-padding)
        var(--menu-item-block-padding) var(--menu-item-inline-start-padding);
    color: var(--color-general-text);
    text-decoration: none;
    border: 1px solid transparent;
    transition:
        color 0.15s,
        background-color 0.15s,
        border-color 0.15s;
}

.text {
    position: relative;
    flex-grow: 1;
}

.loader {
    /* Make right side of the skeletons column more dynamic */
    width: 80%;
}

.toggle {
    position: absolute;
    top: var(--menu-chevron-vertical-correction);
    left: var(--menu-chevron-horizontal-correction);
}

.link:not(.disabled):hover {
    background-color: var(--color-secondary-background);
}

.link:not(.disabled):focus {
    outline: none;
    border-color: var(--color-active-background);
}

.link:not(.disabled).parent {
    background-color: var(--color-secondary-background);
}

.link:not(.disabled).parent:hover {
    background-color: var(--color-tertiary-background);
}

.link:not(.disabled).child {
    background-color: var(--color-tertiary-background);
}

.link:not(.disabled).child:hover {
    background-color: var(--color-secondary-background);
}

.link:not(.disabled).active {
    color: var(--color-active-text);
    background-color: var(--color-active-background);
}

.link:not(.disabled).active:hover {
    background-color: var(--color-active-secondary-background);
}

.transition-enter {
    max-height: 0;
    overflow: hidden;
}

.transition-enter .text {
    opacity: 0;
}

.transition-enter-active {
    max-height: 200px;
    transition: max-height 1.5s ease-out;
}

.transition-enter-active .text {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.transition-exit .text {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.transition-exit-active {
    /* biome-ignore lint/complexity/noImportantStyles: needed for transition override */
    max-height: 0 !important;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.transition-exit-active .text {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.item[aria-level="1"] .text {
    margin-inline-start: var(--menu-item-level-padding);
}

.item[aria-level="2"] .text {
    margin-inline-start: calc(var(--menu-item-level-padding) * 2);
}

.item[aria-level="3"] .text {
    margin-inline-start: calc(var(--menu-item-level-padding) * 3);
}

.item[aria-level="4"] .text {
    margin-inline-start: calc(var(--menu-item-level-padding) * 4);
}

.item[aria-level="5"] .text {
    margin-inline-start: calc(var(--menu-item-level-padding) * 5);
}

.item[aria-level="6"] .text {
    margin-inline-start: calc(var(--menu-item-level-padding) * 6);
}
