.layout {
    display: flex;
    justify-content: stretch;
    min-height: 100%;
}

.main {
    flex-grow: 1;
}

.sidebar {
    position: sticky;
    top: 0;
    flex: 0 0 284px;
    height: 100vh;
    overflow-y: auto;
    border-inline-end: 1px solid var(--color-border);
}
