.skeleton {
    display: block;
    pointer-events: none;
    background-color: var(--color-secondary-background);
    animation: loading 2s infinite;
}

.skeleton::before {
    content: "\00a0";
}

@keyframes loading {
    0% {
        background-color: var(--color-secondary-background);
    }

    50% {
        background-color: var(--color-tertiary-background);
    }

    100% {
        background-color: var(--color-secondary-background);
    }
}
